<!DOCTYPE html>
<html>
  <head>
    <title>I Am Balance</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  </head>
  <nav class="navbar navbar-light bg-light">
  <a class="navbar-brand"><%= image_tag "Logo_edited-1.jpg", width: 80, height: 80, alt: "profile image", class: 'profile-img' %> </a>

  <ul class="nav col-sm-5">
  <li class="nav-item">
    <a class="nav-link" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/pages/about">About Me</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/pages/contact">Contact</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/blogs">Blog</a>
  </li>
</ul> 
</nav>
  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
      <%= yield %>
  </div>
  </body>
</html>
