<p id="notice"><%= notice %></p>
<div class="container">
<div class="row">
<h1 class="col-lg-12">Blogs and Recipes!</h1>
<div class="col-md-4 wider">
  <%= image_tag "berries.jpg", width: 340, alt: "profile image", class: 'profile-img' %>
</div>
<div class="col-md-4 wider">
  <%= image_tag "smooth.jpg", width: 340, alt: "profile image", class: 'profile-img' %>
</div>
<div class="col-md-4 wider">
  <%= image_tag "meaty.jpg", width: 340, alt: "profile image", class: 'profile-img' %>
</div>

<table class="littleless col-lg-12">
  <thead>
    <tr>
      <th>Title</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <hr>
        <td class="body"><%= link_to 'Show', blog %></td>
        <td class="noshow"><%= link_to 'Edit', edit_blog_path(blog) %></td>
        <td class=""><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <br>
    <% end %>
  </tbody>
</table>

<br>


</div>
</div>